$theme: rgba(202, 66, 71, 1)
$grey: #f2f2f2
$darker-grey: #cccccc
$darkest-grey: #333333

$green: #58c98d
$blue: #4891d5
$orange: #e2985d
$yellow: rgb(255, 187, 40)


$tableHeader: #ffffff
$tableRowOdd: rgba($grey, .5)
$tableRowEven: #ffffff
$tableInnerHeader: #d5d5df
$tableInnerRowEven: #ffffff
$tableInnerRowOdd: $grey
